<!doctype html>
<html lang="fr">
<head>
	<title>MENU</title>
	<meta http-equiv="Content-Type" content="text/html;utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, minimum-scale=0.25"/>
	<meta name="viewport" content="width=device-width, maximum-scale=5.0"/>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" type="text/css" href="IndiaRose.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="menu.js"></script> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
</head>
<body>
	<hader>
		<center><img src="icon_0.png"/></center>
	</hader>
	<br/>
	<br/>
	<div2 ng-app="myApp"> 
		<div2 ng-controller="param">
			<center>
				<input type="image" src="gestion.png" alt="Submit"  class="w3-btn w3-ripple w3-blue"  width="20%" ng-click="parametresf()">
				<input type="image" src="engrenage.png" alt="Submit"  class="w3-btn w3-ripple w3-green" width="20%"  ng-click="collectionf()">
			</center>
			<div ng-hide="(parametres || collection)">
				<center><label class="w3-label w3-text-black"><p><--Param&egrave;tre   Collection--></p></label></center>
				<center><p>veuillez selectionner une categories (cliquer sur les images)</p></center>
			</div>
			<div2 ng-hide="!parametres">
				<center><h2><b><p>Param&egrave;tres de l'application</p></b></h2></center>
				<div ng-hide="data1">
					<center>
						<p>Vous devez avoir un p&eacute;riph&eacute;rique avec l'application India Rose dessus pour pouvoir acceder &agrave; cette partie du site.</p>
					</center>
				</div>
				<div2 ng-hide="!data1">
					<center>
						<p>choisissez votre p&eacute;riph&eacute;rique :</p>
						<div2 class="styled-select" >
							<select ng-model="device" ng-Change="version();versionC()">
								<option ng-repeat="x in dat" value="{{x.Name}}" >{{x.Name}}</option>
							</select>
						</div2>
					</center>
					<br/>
					<div2 ng-hide="device==null">
						<form class="w3-container" name="formulaire1">
							<label class="w3-label w3-text-blue">
								<b><p>Changer le nom du p&eacute;riph&eacute;rique</p></b>
							</label>
							<input name="nomD1" type="text" class="w3-input w3-border w3-round w3-hover-grey" ng-model="nomD" required>
							<button  ng-disabled="formulaire1.nomD1.$invalid" ng-click="changeNomD(nomD)" style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large">Changer</button>
							<br/>
							<br/>
						</form>
						<center>
							<p>choisissez la version des param&egrave;tres :</p>
							<div2 class="styled-select">
								<select ng-model="device2" ng-change="afficherVersion()">
									<option ng-repeat="x in dat2" value="{{x.Version}}" >{{x.Version}}</option>
								</select>
							</div2>
							<div ng-hide="device2==null">
								<b><p>Date : </b>	{{deviceInfo.Date | date:'yyyy/MM/dd HH:mm:ss'}}</p>
							</div>
						</center>
					</div2>
					<div2 ng-hide="device2==null">
						<div class="btn-group-vertical">
							<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="settings(); prorietef()">Propri&eacute;t&eacute;s couleur de fond</button>
							<div ng-hide="!propriete" style="width:100%; height:300px">
								<label class="w3-label w3-text-blue">
									<b>Hauteur de la zone du haut (s&eacute;lection des indiagrams) :</b>
								</label>
								{{deviceSettings.SelectionAreaHeight}}&nbsp;%
								<br/>
								<br/>
								<center>
									<div2  style="position:absolute; width:40%; height:60%; z-index:1">
										<img type="image" src="transparent.png"  width="100%" height="100%" ng-style=" {'background-color':'#'+deviceSettings.BottomBackgroundColor}"/>
									</div2>
									<div2  style="position:absolute; width:40%; height:60%; z-index:2">
										<img type="image" src="transparent.png"  width="100%" height="{{deviceSettings.SelectionAreaHeight}}%" ng-style=" {'background-color':'#'+deviceSettings.TopBackgroundColor}"/>
									</div2>
									<div2  style="position:absolute; width:40%;  height:60%; z-index:3">
										<img type="image"  src="bkgTablettes.png"  width="100%" height="100%" >
									</div2>
								</center>
							</div>
							<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="indiagramef()">Propri&eacute;t&eacute;s des indiagrames</button>
							<div ng-hide="!indiagrame">
								<label class="w3-label w3-text-blue">
									<b>Taille des indiagrams : </b>
								</label>
								{{deviceSettings.IndiagramDisplaySize}}*{{deviceSettings.IndiagramDisplaySize}}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Couleur du renfor&ccedil;ateur : </b>
								</label>
								<img type="image"  src="transparent.png"  width="40px" height="20px" ng-style=" {'background-color':'#'+deviceSettings.ReinforcerColor}" >
								<img type="image"  src="reinforcer.png"  class="floatR" width="20%" height="20%" ng-style=" {'background-color':'#'+deviceSettings.ReinforcerColor}" >
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Police : </b>
								</label>
								{{policeName}}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Taille de la police : </b>
								</label>
								{{deviceSettings.FontSize}}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Couleur du texte : </b>
								</label>
								<img type="image"  src="transparent.png"  width="40px" height="20px" ng-style=" {'background-color':'#'+deviceSettings.TextColor}" >
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Revenir &agrave; l'acceuil apr&egrave;s la s&eacute;lection d'un indiagram : </b>
								</label>
								{{(deviceSettings.IsBackHomeAfterSelectionEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Possibilit&eacute; de s&eacute;lectionner plusieurs fois le m&ecirc;me indiagram : </b>
								</label>
								{{(deviceSettings.IsMultipleIndiagramSelectionEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Activer le renfor&ccedil;ateur de lecture : </b>
								</label>
								{{(deviceSettings.IsReinforcerEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>	
							</div>
							<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="optionf()">Options</button>
							<div ng-hide="!option">
								<label class="w3-label w3-text-blue">
									<b>Glisser-deposer : </b>
								</label>
								{{(deviceSettings.IsDragAndDropEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Lire le nom des categories : </b>
								</label>
								{{(deviceSettings.IsCategoryNameReadingEnabled | toBoolean) ? 'oui' : 'non' }}
								<br/>
								<label class="w3-label w3-text-blue">
									<b>Le temps de silence entre les mots : </b>
								</label>
								{{deviceSettings.TimeOfSilenceBetweenWords}} seconds
								<br/>
							</div>
						</div>
					</div2>
				</div2>
			</div2> 
			<div2 ng-hide="!collection"><center><h2><b>Gestion de la collection</b></h2></center>
				<div ng-hide="data1">
					<center>
						<p>Vous devez avoir un p&eacute;riph&eacute;rique avec l'application India Rose dessus pour pouvoir acceder &agrave; cette partie du site.</p>
					</center>
				</div>
				<div2 ng-hide="!data1">
					<center>
						<p>choisissez votre p&eacute;riph&eacute;rique :</p>
						<div2 class="styled-select" >
							<select ng-model="device" ng-Change="versionC();version()">
								<option ng-repeat="x in dat" value="{{x.Name}}" >{{x.Name}}</option>
							</select>
						</div2>
					</center>
					<br/>
					<div2 ng-hide="device==null">
						<center>
							<p>choisissez la version de la collection :</p>
						</center>
						<div2 class="styled-select">
							<center>
								<select ng-model="versionCollection" ng-change="afficherVersionC(); afficherArbre()">
									<option ng-repeat="x in datC" value="{{x.Version}}" >{{x.Version}}</option>
								</select>
							</center>
						</div2>
						<div ng-hide="!versionCollection">
							<center>
								<b><p>Date : </b>	{{dateCollection.Date | date:'yyyy/MM/dd HH:mm:ss'}}</p>
								<br/>
							</center>
							<div2 class="w3-container">
								<h3><b>Ma collection</b></h3>
								<table class="w3-table w3-bordered ">
									<tr ng-repeat="x in dataCollection">
										<td>
											<button class="w3-btn w3-ripple w3-purple" ng-click="option(x)" > Voir </button>
										</td>
										<td><a ng-click="avoirIndia(x.DatabaseId)"><img data-ng-src="{{getImage(x.DatabaseId)}}" width="8%"/>&nbsp;{{x.Text}}</a> </td>
										<table class="w3-table w3-bordered">
											<tr>
												<th>{{nomPere}}</th>
											</tr>
											<tr ng-repeat="y in dataCollectionFilsChoisi.Children">
												<td>
													<button class="w3-btn w3-ripple w3-purple" ng-click="option(y)" >Voir </button>
												</td>
												<td><a ng-click="avoirIndia(y.DatabaseId)"><img data-ng-src="{{getImage(y.DatabaseId)}}" width="8%"/>&nbsp;{{y.Text}}</a> </td>
												<tr>
												</tr>
											</tr> 		
										</table>
									</tr>
								</table>
								<br>
								<div2 ng-hide="!optinIndia">
									<center><h3><b>Information de l indiagram</b></h3></center>
									<center>
										<a><img data-ng-src="{{getImage2(IMAGE)}}" width="8%"/>&nbsp;</a>
									</center>
									<br/>
									<center>
										<audio controls>
											<source ng-src="{{getSounds2(MUSIQUE)}}" />
											Your browser does not support the audio element.
										</audio>
									</center>
									<center>
										<label class="w3-label w3-text-blue">
											<p>{{IndiagramOption.Text}}</p>
										</label>
									</center>
									<label class="w3-label w3-text-blue">
										<p>Position de l indiagram : </p>
									</label>
									<br/>
									<p>{{IndiagramOption.Position}}</p>
									<label class="w3-label w3-text-blue">
										<p>est-ce une categorie : </p>
									</label>
									<p>{{(IndiagramOption.IsCategory | toBoolean) ? 'oui' : 'non' }}</p>
									<label class="w3-label w3-text-blue">
										<p>est-elle activ&eacute;e : </p>
									</label>
									<p>{{(IndiagramOption.IsEnabled | toBoolean) ? 'oui' : 'non' }}</p>
								</div2>
								<br/>
								<button style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large" ng-click="modifierCollection()" >&#9998; modifier la derniere collection</button>
							</div2>
						</div>
					</div2>
				</div2>
			</div2>
		</div2>
	</div2>
</body>
</html>