<!doctype html>
<html lang="fr">
<head>
	<title>Collection</title>
	<meta http-equiv="Content-Type" content="text/html;utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, minimum-scale=0.25"/>
	<meta name="viewport" content="width=device-width, maximum-scale=5.0"/>
	<meta name="viewport" content="width=device-width, user-scalable=no"/>
	<meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link rel="stylesheet" type="text/css" href="IndiaRose.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="menu.js"></script> 
</head>
<body>
	<div2 ng-app="myApp"> 
		<div2 ng-controller="modificationCollection">
			{{arbreCollection()}}
			<div2 class="w3-container">
				<h3><b>Ma collection</b></h3>
				<table class="w3-table w3-bordered ">
					<tr ng-repeat="x in dataCollection">
						<td>
							<button class="w3-btn w3-ripple w3-purple" ng-click="option(x)" > Voir/modifier </button> 
						</td>
						<td><a ng-click="avoirIndia(x.DatabaseId)"><img data-ng-src="{{getImage(x.DatabaseId)}}" width="8%"/>&nbsp;{{x.Text}}</a> </td>
						<table class="w3-table w3-bordered">
							<tr><button style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large" ng-click="AjouterIndia()" >&#9998;Ajouter une Indiagram</button></tr>
							<tr>
								<th>{{nomPere}}</th>
							</tr>
							<tr ng-repeat="y in dataCollectionFilsChoisi.Children">
								<td>
									<button class="w3-btn w3-ripple w3-purple" ng-click="option(y)" >Voir/modifier </button> 
								</td>
								<td><a ng-click="avoirIndia(y.DatabaseId)"><img data-ng-src="{{getImage(y.DatabaseId)}}" width="8%"/>&nbsp;{{y.Text}}</a> </td>
								<tr>
								</tr>
							</tr> 		
						</table>
					</tr>
				</table>
				<br>
			</div2>
			<div ng-hide="!optionIndia">
				<form class="w3-container" name="formulaire">
					<center><h3><b>Information de l indiagram</b></h3></center>
					<center>
						<a><img data-ng-src="{{getImage(india.DatabaseId)}}" width="8%"/>&nbsp;</a>
					</center>
					<br/>
					<center>
						<audio controls>
							<source data-ng-src="{{getSounds(india.DatabaseId)}}" />
							Your browser does not support the audio element.
						</audio>
					</center>
					<center>
						<label class="w3-label w3-text-blue">
							<p>Nom de l indiagram : </p>
						</label>
						<input name="nomIndia" type="text" class="w3-input w3-border w3-round w3-hover-grey" ng-model="nomIndia" required>
					</center>
					<label class="w3-label w3-text-blue">
						<p>Position de l indiagram : </p>
					</label>
					<input name="positionIndia" type="number" class="w3-input w3-border w3-round w3-hover-grey" ng-model="positionIndia" required>
					<label class="w3-label w3-text-blue">
						<p>est-ce une categorie : </p>
					</label>
					<input type="checkbox" ng-model="categoryOUI" ng-change="changementCategoryOUI()">Oui<br/>
					<input type="checkbox" ng-model="categoryNON" ng-change="changementCategoryNON()">Non<br/>
					<label class="w3-label w3-text-blue">
						<p>est-elle activ&eacute; : </p>
					</label>
					<input type="checkbox" ng-model="categoryOUI1" ng-change="changementCategoryOUI1()">Oui<br/>
					<input type="checkbox" ng-model="categoryNON1" ng-change="changementCategoryNON1()">Non<br/>
					<div2>
						<label for="filePicker"><label class="w3-label w3-text-blue"><p>changer l image :</p></label></label>
						<input type="file" id="filePicker">
						<input type="text" class="w3-input w3-border w3-round w3-hover-grey" ng-model="nomImage" required><br/>
						<label for="filePicker"><label class="w3-label w3-text-blue"><p>changer le son MP3 :</p></label></label>
						<input type="file" id="filePicker2" name="f2">
						<input type="text" class="w3-input w3-border w3-round w3-hover-grey" ng-model="nomMusique" required>
						<br/>
					</div2>
					<button style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large" ng-click="AjouterIndia(india.DatabaseId)" >&#9998; Ajouter une Indiagram a {{nomIndia}}</button>
					<br/>
					<button style="width:100%" ng-disabled="formulaire.nomIndia.$invalid || formulaire.positionIndia.$invalid" class="w3-btn w3-ripple w3-green w3-btn w3-round-large" ng-click="modifierIndia(india)" >Appliquer les modifications</button>
					<br/>
				</form>
			</div>
			<div ng-hide="!ajouterIndiagram">
				<form class="w3-container" name="formulaire2">
					<center>
						<label class="w3-label w3-text-blue">
							<p>Nom du nouveau indiagram : </p>
						</label>
						<input name="nomIndia2" type="text" class="w3-input w3-border w3-round w3-hover-grey" ng-model="nomIndia2" required>
					</center>
					<button ng-disabled="formulaire2.nomIndia2.$invalid " ng-click="saveNewIndia()" style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large">Sauvegarder</button>
				</form>
			</div>
			<br/>
			<button ng-click="save()" style="width:100%" class="w3-btn w3-ripple w3-green w3-btn w3-round-large">Sauvegarder</button>
		</div2>
	</div2>
</body>
</html>